.input-field label {
  width: 100%;
}

.registration--section {
  margin: 20px auto;
  padding: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 600px;
}

.registration--label {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
  width: 150px;
}

.registration--input {
  display: inline-block;
  margin: 0 auto 10px auto;
  width: 200px;
}
