.log-in--section {
  border: 1px solid black;
  border-radius: 10px;
  margin: 20% auto;
  text-align: center;
  vertical-align: middle;
  width: 300px;
}

.log-in--form {
  width: auto;
}

.log-in--input {
  display: block;
  margin: 0 auto 10px auto;
  width: 200px;
}

.log-in--forgot-password {
  display: block;
  margin-bottom: 10px;
}

.log-in--login-button {
  display: block;
  margin: 0 auto 10px auto;
}
