.entry-form--form {
  border: 1px solid black;
  padding: 10px;
}

.entry-form--title {
  display: block;
  margin-bottom: 10px;
}

.entry-form--body {
  display: block;
  margin-bottom: 10px;
}

.entry-form--button {
  margin-right: 5px;
}
